/* Media */
@media only screen and (max-width: 1280px) {
    p {
      width: 70vw;
    }
    .infome {
      height: 70vh;
    }
    .infome__text {
      background: rgba(177, 176, 130, 0.46);
      border-top-right-radius: 16px;
      backdrop-filter: blur(4px);
      border: 1px solid rgba(87, 88, 58, 0.315);
      padding: 10px 0 0 10px;
    }
    .infome__photo {
      right: 10%;
      width: 290px;
      height: 300px;
    }
    .navig__list {
      width: fit-content;
    }
    .navig__list-item {
      width: 200px;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .navig__list {
      display: flex;
      padding: 1px 5px 1px 5px;
    }
    .navig__list-item {
      width: fit-content;
    }
    .infome {
      height: 95vh;
      align-items: end;
    }
    .schema {
      min-width: 300px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .infome__text {
      width: 50vw;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .navig {
      margin: 0 10px 0 10px;
    }
    .navig__list {
      width: 95vw;
      flex-direction: column;
      align-items: center;
    }
    .infome {
      height: 180vh;
      flex-direction: column;
      align-items: center;
      justify-content: end;
    }
    .infome__text {
      width: 90vw;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .navig__list-item {
      text-align: center;
    }
    .navig {
    right: 2.5%;
    }
    .infome {
      height: 225vh;
    }
    .infome__title::after {
      top: 75%;
      right: 5%;
    }
  }