* {
  box-sizing: border-box;
}
h1,
h2 {
  margin: 0px 0px 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(180deg, #ece6cd, white);
}

.glass {
  background: rgba(58, 63, 88, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(58, 63, 88, 0.23);
}

header {
  background: url("../ТЭС.jpg");
  width: 100vw;
  height: 70vh;
  padding: 10px;
}

header a {
  color: black;
  font-style: italic;
}

header a:hover {
  color: #f9ac67;
}

main {
  padding: 10px;
}

/* Navigation */
.navig {
  position: fixed;
  right: 1%;
  top: 1%;
  z-index: 1;
}
.navig__list {
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 500px;
}
.navig__list-item {
  margin: 5px;
  border-radius: 5px;
}
.navig__list a:hover {
  color: #ece6cd;
}
.navig__list a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

/* Buttons */
button {
  background-color: #ece6cd;
  border-radius: 5px;
}
button:hover {
  background-color: #f9ac67;
}
button:active {
  background-color: #ee6a59;
}

/* Text */
header p {
  width: 700px;
  font-weight: 500;
}
p {
  width: 1300px;
}
#My-photo {
  width: 400px;
}
